$primary_color:#0BCEAF;
$background_color: #ffffff;
$heading_color: #dee2e6;
$main_text_color: #343a40;
$light_text_color: #6c757d;
$bg_light_color: #e9ecef;
$skills_background_color_yellow: #ffc107;
$skills_background_color_red: #dc3545;
$skills_background_color_blue: #17a2b8;
$forms_border_color: #ced4da;


$font_family:'Roboto', sans-serif;
$spacer: 8px;
